<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346409028784-6unoae8v8cm4noknigjria5tnouao4jj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346409028784-6unoae8v8cm4noknigjria5tnouao4jj</string>
	<key>API_KEY</key>
	<string>AIzaSyAo6BhXjwMl3HBDXZ9yDrNgTGRMtNqXDwg</string>
	<key>GCM_SENDER_ID</key>
	<string>346409028784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-1da18</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-1da18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346409028784:ios:cab8c96d3bbf1395443f75</string>
</dict>
</plist>